**pseudonymization** Replicing identification information in such a way that the proccess can be reversed(with extra information)

**Anonymization**: Replacing indentifying infomration with the intent to be fully non-reversible
### Teckniques  for anonymation 
- **Hashing / Crypto** Fredrik Johansson => abd8777899da90ajua0u 
-**Data masking** fredrik@everyloop.com => f****@****.com
- **Generalization** Age: 34 => Age: 30-40
- **Aggregation** Group and aggregate
_**Removing data Removing column/colums from dataset

# Anonimization with hash
- The are many types of hash functions (algorithms). Example MDS, SHA-128, SHA256
- hasg functions are used to map data of arbitrary size to fixed-size values
- The same input always results in  the same output (given it's using the same algorithm)
- (even a small change in the input yields totally different output strings  )
- It's not possible to reverised the process (i.e, given the output hssh we can not get the original string back)

In [14]:
import hashlib as hl

text= "Top secret information".encode('utf-8')

hl.sha256(text).hexdigest()

'd48be31cc172a815f6dedb3519463a5b41e472a83e7621aab89a89f8840ed203'

In [17]:
print(f"{hl.sha256('Hello world'.encode()).hexdigest()= }")
print(f"{hl.sha256('Hello world'.encode()).hexdigest()= }")

hl.sha256('Hello world'.encode()).hexdigest()= '64ec88ca00b268e5ba1a35678a1b5316d212f4f366b2477232534a8aeca37f3c'
hl.sha256('Hello world'.encode()).hexdigest()= '64ec88ca00b268e5ba1a35678a1b5316d212f4f366b2477232534a8aeca37f3c'

In [18]:
import pandas as pd

In [26]:
employees = pd.read_json("../data/employees.json")
employees.head()

  first_name last_name             job_title  salary       department
0       John       Doe        Sales Director  120000            Sales
1       Jane     Smith        HR Coordinator   60000  Human Resources
2    Michael   Johnson     Software Engineer  110000               IT
3      Sarah  Williams  Marketing Specialist   75000            Sales
4      David     Brown            HR Manager   90000  Human Resources

In [ ]:
employees["Fir"]