In [1]:
import hashlib as hl

In [15]:
test = "top secret information".encode('utf-8')
test.hex()

hl.sha3_256(test).hexdigest()

'bdea569a1f5a9280fa43e3cd5c71330c134d98b8751ce4e51840f69164b1ab30'

In [18]:
print(f"{hl.sha3_256('hello world'.encode()).hexdigest()= }")
print(f"{hl.sha3_256('hello world'.encode()).hexdigest()= }")

hl.sha3_256('hello world'.encode()).hexdigest()= '644bcc7e564373040999aac89e7622f3ca71fba1d972fd94a31c3bfbf24e3938'
hl.sha3_256('hello world'.encode()).hexdigest()= '644bcc7e564373040999aac89e7622f3ca71fba1d972fd94a31c3bfbf24e3938'

In [19]:
import pandas as pd

In [25]:
employees = pd.read_json("../Data/employees.json")
employees.head(3)

  first_name last_name          job_title  salary       department
0       John       Doe     Sales Director  120000            Sales
1       Jane     Smith     HR Coordinator   60000  Human Resources
2    Michael   Johnson  Software Engineer  110000               IT

In [26]:
employees["first_name"].apply(lambda name: hl.sha3_256(name.encode()).hexdigest())

0    309d30564da36dd90760f9729066386cdeba9e7290c600...
1    253b625d3311194aee2f42d643b3006e0f58c1a2b31a45...
2    c3d495f1a07c490dea5fcedb48746b6497399ef2b9c3aa...
3    2ddc6bb51b2080fb61b717c52a117ff4bc933933199027...
4    e0535e65daa4b9bed217ae20ddde3f16d853e9e7835f64...
5    453b3aa31936c6fda9fd0c166be7ab1bc2f1d6e75ee564...
6    7248cb3ed6e349746269ae07c4a789930de1569d72c711...
7    e8632042813997e992613119fa6fae0797d901ea279a14...
8    e4bd05246f11bcc13673eb0391c66a135fa3a093d7bcea...
9    e32788a8d32ba33e9b50a4233fd3382396b24768441a74...
Name: first_name, dtype: object

In [28]:
name = input("Enter name:")
name_hash = hl.sha256(name.encode()).hexdigest
print(name_hash)
employees.query("first_name == @name_hash")

<built-in method hexdigest of _hashlib.HASH object at 0x122715250>

Empty DataFrame
Columns: [first_name, last_name, job_title, salary, department]
Index: []